
@model IEnumerable<NashMart.Models.Category>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Category
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        @foreach (var item in Model)
        {
            <li><a class="dropdown-item" asp-controller="Products" asp-action="ProductCategory" asp-route-id=@item.Id>@item.Name</a></li>
        }
       
    </ul>
</div>